<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>playlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>925459DD1E5DFF5600E62D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>925459F41E5DFF5700E62D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>925459FF1E5DFF5700E62D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
